.comp-lsd32gr0 {
  --wix-direction: ltr;
--listStripWidth▶︎m: 20;
--dateOnImageSize▶︎m: 1;
--listAlignment: 2;
--imageRatio▶︎m: 1;
--cardMargins: 20;
--imageRatio: 1;
--listButtonStyle: 1;
--listLayout: 3;
--cardBorderWidth: 1;
--listGeneralTitleFontSizeMobile: 28;
--listHeaderTitleFontSizeMobile: 20;
--borderWidth: 0;
--todayButtonBorderWidth: 1;
--todayButtonBorderRadius: 0;
--cardDescriptionFontSize: 15;
--listRoundedButtonBorderRadius: 100;
--listBorderWidth: 0;
--calendarCellBorderWidth: 1;
--calendarBorderWidth: 0;
--buttonsBorderWidth: 1;
--todayRoundedButtonBorderRadius: 100;
--listButtonBorderRadius: 0;
--listButtonBorderWidth: 1;
--cardLocationAndDateFontSize: 16;
--listButtonFontSizeMobile: 16;
--listContentTextFontSizeMobile: 16;
--listDateFontSizeMobile: 16;
--listDateFontSizeCompactMobile: 14;
--listLocationFontSizeCompactMobile: 14;
--listHeaderTitleFontSizeCompactMobile: 16;
--listButtonFontSizeCompactMobile: 14;
--calendarDetailsTitleTextSize: 16;
--calendarDetailsDateLocationTextSize: 14;
--calendarDetailsDescriptionTextSize: 14;
--widgetType: 2;
--mobileListLayout: 1;
--widgetLayout: 1;
--alignment: 2;
--contentAlignment: 2;
--imageScaling: 2;
--multiImageScaling: 2;
--listImageLayout: 1;
--locationAndDateFormat: 1;
--listLocationAndDateFormat: 1;
--cardsPerRow: 3;
--cardLocationAndDateFormat: 1;
--buttonsStyle: 1;
--buttonsBorderRadius: 0;
--roundedButtonsBorderRadius: 100;
--buttonHeight: 44;
--oneButtonWidth: 140;
--verticalDividerWidth: 1;
--verticalDividerHeight: 94;
--horizontalDividerWidth: 20;
--horizontalDividerHeight: 1;
--compactHorizontalDividerWidth: 36;
--compactHorizontalDividerHeight: 1;
--countdownMarginBottom: 30;
--titleMarginBottom: 36;
--descriptionMarginBottom: 42;
--dateMarginBottom: 42;
--locationMarginBottom: 54;
--dateAndLocationMarginBottom: 54;
--rsvpMarginBottom: 30;
--imageWidth: 50;
--imageOpacity: 70;
--sideBySideLayoutMargins: 30;
--listImageOpacity: 100;
--listImageWidth: 50;
--listDividerWidth: 1;
--listStripWidth: 20;
--calendarWeekStartDay: 1;
--calendarListTextSize: 14;
--calendarListDividerWidth: 1;
--todayButtonStyle: 2;
--listHeaderLocationFont: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496;
--listGeneralTitleFont: normal normal bold 38px/1.4em avenir-lt-w01_35-light1475496;
--listHeaderTitleFont: normal normal normal 26px/1.4em avenir-lt-w01_85-heavy1475544;
--listFullButtonFont: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496;
--listHeaderDateTimeFont: normal normal normal 16px/1.4em avenir-lt-w01_85-heavy1475544;
--cardDescriptionFont: normal normal normal 16px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarMonthFont: normal normal normal 18px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarWeekdaysFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarDayNumberFont: normal normal normal 24px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarCellEventNameFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--listHollowButtonFont: normal normal normal 16px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--todayHollowButtonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--todayButtonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--ribbonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--listContentTextFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--soldOutRibbonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--rsvpClosedRibbonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--joinWaitlistRibbonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--membershipRibbonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--recurringRibbonFont: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--hollowButtonsFont: normal normal normal 16px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--fullButtonsFont: normal normal normal 16px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--countdownFont: normal normal normal 20px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--titleFont: normal normal normal 46px/1.4em wfont_ab8a4b_20470300465d468db5d18fb8e6407a10,wf_20470300465d468db5d18fb8e,orig_simplon_mono_medium_regular;
--descriptionFont: normal normal normal 15px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--labelsFont: normal normal normal 16px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--compactTextsFont: normal normal normal 24px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--textsFont: normal normal normal 15px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--cardBackgroundColor: 255,255,255;
--cardBackgroundColor-rgb: 255,255,255;
--cardBackgroundColor-opacity: 1;
--listHeaderTitleColor: 0,0,0;
--listHeaderTitleColor-rgb: 0,0,0;
--listHeaderTitleColor-opacity: 1;
--listButtonBorderColor: 48,64,255;
--listButtonBorderColor-rgb: 48,64,255;
--listButtonBorderColor-opacity: 1;
--listHollowButtonFontColor: 0,0,0;
--listHollowButtonFontColor-rgb: 0,0,0;
--listHollowButtonFontColor-opacity: 1;
--listFullButtonFontColor: 255,255,255;
--listFullButtonFontColor-rgb: 255,255,255;
--listFullButtonFontColor-opacity: 1;
--listButtonBackgroundColor: 48,64,255;
--listButtonBackgroundColor-rgb: 48,64,255;
--listButtonBackgroundColor-opacity: 1;
--cardBorderColor: 199,199,199;
--cardBorderColor-rgb: 199,199,199;
--cardBorderColor-opacity: 1;
--listImageBackgroundColor: 0,0,0;
--listImageBackgroundColor-rgb: 0,0,0;
--listImageBackgroundColor-opacity: 1;
--listHeaderDateColor▶︎m: 255,255,255;
--listHeaderDateColor▶︎m-rgb: 255,255,255;
--listHeaderDateColor▶︎m-opacity: 1;
--cardsBackgroundColor: 48,64,255;
--cardsBackgroundColor-rgb: 48,64,255;
--cardsBackgroundColor-opacity: 1;
--calendarCellBackground: 255,255,255;
--calendarCellBackground-rgb: 255,255,255;
--calendarCellBackground-opacity: 1;
--calendarBorderColor: 232,230,230;
--calendarBorderColor-rgb: 232,230,230;
--calendarBorderColor-opacity: 1;
--calendarMainActiveColor: 48,64,255;
--calendarMainActiveColor-rgb: 48,64,255;
--calendarMainActiveColor-opacity: 1;
--listContentTitleColor: 48,64,255;
--listContentTitleColor-rgb: 48,64,255;
--listContentTitleColor-opacity: 1;
--listGeneralTitleColor: 0,0,0;
--listGeneralTitleColor-rgb: 0,0,0;
--listGeneralTitleColor-opacity: 1;
--calendarMonthColor: 0,0,0;
--calendarMonthColor-rgb: 0,0,0;
--calendarMonthColor-opacity: 1;
--calendarWeekdaysColor: 0,0,0;
--calendarWeekdaysColor-rgb: 0,0,0;
--calendarWeekdaysColor-opacity: 1;
--calendarDayNumberColor: 0,0,0;
--calendarDayNumberColor-rgb: 0,0,0;
--calendarDayNumberColor-opacity: 1;
--calendarCellEventNameColor: 0,0,0;
--calendarCellEventNameColor-rgb: 0,0,0;
--calendarCellEventNameColor-opacity: 1;
--todayHollowButtonColor: 48,64,255;
--todayHollowButtonColor-rgb: 48,64,255;
--todayHollowButtonColor-opacity: 1;
--todayButtonColor: 255,255,255;
--todayButtonColor-rgb: 255,255,255;
--todayButtonColor-opacity: 1;
--ribbonTextColor: 255,255,255;
--ribbonTextColor-rgb: 255,255,255;
--ribbonTextColor-opacity: 1;
--listContentTextColor: 0,0,0;
--listContentTextColor-rgb: 0,0,0;
--listContentTextColor-opacity: 1;
--listHeaderLocationColor: 0,0,0;
--listHeaderLocationColor-rgb: 0,0,0;
--listHeaderLocationColor-opacity: 1;
--listHeaderDateTimeColor: 0,0,0;
--listHeaderDateTimeColor-rgb: 0,0,0;
--listHeaderDateTimeColor-opacity: 1;
--soldOutRibbonTextColor: 255,255,255;
--soldOutRibbonTextColor-rgb: 255,255,255;
--soldOutRibbonTextColor-opacity: 1;
--rsvpClosedRibbonTextColor: 255,255,255;
--rsvpClosedRibbonTextColor-rgb: 255,255,255;
--rsvpClosedRibbonTextColor-opacity: 1;
--joinWaitlistRibbonTextColor: 255,255,255;
--joinWaitlistRibbonTextColor-rgb: 255,255,255;
--joinWaitlistRibbonTextColor-opacity: 1;
--membershipRibbonTextColor: 0,0,0;
--membershipRibbonTextColor-rgb: 0,0,0;
--membershipRibbonTextColor-opacity: 1;
--recurringRibbonTextColor: 0,0,0;
--recurringRibbonTextColor-rgb: 0,0,0;
--recurringRibbonTextColor-opacity: 1;
--onImageHollowButtonsFontColor: 255,255,255;
--onImageHollowButtonsFontColor-rgb: 255,255,255;
--onImageHollowButtonsFontColor-opacity: 1;
--hollowButtonsFontColor: 48,64,255;
--hollowButtonsFontColor-rgb: 48,64,255;
--hollowButtonsFontColor-opacity: 1;
--onImageFullButtonsFontColor: 0,0,0;
--onImageFullButtonsFontColor-rgb: 0,0,0;
--onImageFullButtonsFontColor-opacity: 1;
--fullButtonsFontColor: 255,255,255;
--fullButtonsFontColor-rgb: 255,255,255;
--fullButtonsFontColor-opacity: 1;
--countdownColor: 0,0,0;
--countdownColor-rgb: 0,0,0;
--countdownColor-opacity: 1;
--onImageCountdownColor: 255,255,255;
--onImageCountdownColor-rgb: 255,255,255;
--onImageCountdownColor-opacity: 1;
--titleColor: 0,0,0;
--titleColor-rgb: 0,0,0;
--titleColor-opacity: 1;
--onImageTitleColor: 255,255,255;
--onImageTitleColor-rgb: 255,255,255;
--onImageTitleColor-opacity: 1;
--onImageDescriptionColor: 255,255,255;
--onImageDescriptionColor-rgb: 255,255,255;
--onImageDescriptionColor-opacity: 1;
--descriptionColor: 0,0,0;
--descriptionColor-rgb: 0,0,0;
--descriptionColor-opacity: 1;
--onImageLabelsColor: 255,255,255;
--onImageLabelsColor-rgb: 255,255,255;
--onImageLabelsColor-opacity: 1;
--labelsColor: 0,0,0;
--labelsColor-rgb: 0,0,0;
--labelsColor-opacity: 1;
--onImageTextsColor: 255,255,255;
--onImageTextsColor-rgb: 255,255,255;
--onImageTextsColor-opacity: 1;
--textsColor: 0,0,0;
--textsColor-rgb: 0,0,0;
--textsColor-opacity: 1;
--calendarCellBorderColor: 232,230,230;
--calendarCellBorderColor-rgb: 232,230,230;
--calendarCellBorderColor-opacity: 1;
--calendarPastDaysBackground: 232,230,230,0.1;
--calendarPastDaysBackground-rgb: 232,230,230;
--calendarPastDaysBackground-opacity: 0.1;
--todayButtonBackgroundColor: 48,64,255;
--todayButtonBackgroundColor-rgb: 48,64,255;
--todayButtonBackgroundColor-opacity: 1;
--todayButtonBorderColor: 48,64,255;
--todayButtonBorderColor-rgb: 48,64,255;
--todayButtonBorderColor-opacity: 1;
--ribbonBackgroundColor: 246,77,67;
--ribbonBackgroundColor-rgb: 246,77,67;
--ribbonBackgroundColor-opacity: 1;
--listBackgroundColor: 255,255,255;
--listBackgroundColor-rgb: 255,255,255;
--listBackgroundColor-opacity: 1;
--listBorderColor: 232,230,230;
--listBorderColor-rgb: 232,230,230;
--listBorderColor-opacity: 1;
--listDividerColor: 232,230,230;
--listDividerColor-rgb: 232,230,230;
--listDividerColor-opacity: 1;
--soldOutRibbonBackgroundColor: 246,77,67;
--soldOutRibbonBackgroundColor-rgb: 246,77,67;
--soldOutRibbonBackgroundColor-opacity: 1;
--rsvpClosedRibbonBackgroundColor: 246,77,67;
--rsvpClosedRibbonBackgroundColor-rgb: 246,77,67;
--rsvpClosedRibbonBackgroundColor-opacity: 1;
--joinWaitlistRibbonBackgroundColor: 246,77,67;
--joinWaitlistRibbonBackgroundColor-rgb: 246,77,67;
--joinWaitlistRibbonBackgroundColor-opacity: 1;
--membershipRibbonBorderColor: 0,0,0;
--membershipRibbonBorderColor-rgb: 0,0,0;
--membershipRibbonBorderColor-opacity: 1;
--recurringRibbonBorderColor: 0,0,0;
--recurringRibbonBorderColor-rgb: 0,0,0;
--recurringRibbonBorderColor-opacity: 1;
--imageBackgroundColor: 0,0,0;
--imageBackgroundColor-rgb: 0,0,0;
--imageBackgroundColor-opacity: 1;
--backgroundColor: 255,255,255;
--backgroundColor-rgb: 255,255,255;
--backgroundColor-opacity: 1;
--borderColor: 232,230,230;
--borderColor-rgb: 232,230,230;
--borderColor-opacity: 1;
--onImageButtonsBorderColor: 255,255,255;
--onImageButtonsBorderColor-rgb: 255,255,255;
--onImageButtonsBorderColor-opacity: 1;
--buttonsBorderColor: 48,64,255;
--buttonsBorderColor-rgb: 48,64,255;
--buttonsBorderColor-opacity: 1;
--onImageButtonsBackgroundColor: 255,255,255;
--onImageButtonsBackgroundColor-rgb: 255,255,255;
--onImageButtonsBackgroundColor-opacity: 1;
--buttonsBackgroundColor: 48,64,255;
--buttonsBackgroundColor-rgb: 48,64,255;
--buttonsBackgroundColor-opacity: 1;
--onImageDividerColor: 255,255,255;
--onImageDividerColor-rgb: 255,255,255;
--onImageDividerColor-opacity: 1;
--dividerColor: 0,0,0;
--dividerColor-rgb: 0,0,0;
--dividerColor-opacity: 1;
--calendarBackgroundColor: 255,255,255,0;
--calendarBackgroundColor-rgb: 255,255,255;
--calendarBackgroundColor-opacity: 0;
--listLoadMoreContainerBackgroundColor: var(--cardBackgroundColor);
--listLoadMoreContainerBackgroundColor-rgb: var(--cardBackgroundColor-rgb);
--listLoadMoreContainerBackgroundColor-opacity: var(--cardBackgroundColor-opacity);
--listHeaderLocationFont-style: normal;
--listHeaderLocationFont-variant: normal;
--listHeaderLocationFont-weight: normal;
--listHeaderLocationFont-size: 18px;
--listHeaderLocationFont-line-height: 1.4em;
--listHeaderLocationFont-family: avenir-lt-w01_35-light1475496;
--listHeaderLocationFont-text-decoration: none;
--listGeneralTitleFont-style: normal;
--listGeneralTitleFont-variant: normal;
--listGeneralTitleFont-weight: bold;
--listGeneralTitleFont-size: 38px;
--listGeneralTitleFont-line-height: 1.4em;
--listGeneralTitleFont-family: avenir-lt-w01_35-light1475496;
--listGeneralTitleFont-text-decoration: none;
--listHeaderTitleFont-style: normal;
--listHeaderTitleFont-variant: normal;
--listHeaderTitleFont-weight: normal;
--listHeaderTitleFont-size: 26px;
--listHeaderTitleFont-line-height: 1.4em;
--listHeaderTitleFont-family: avenir-lt-w01_85-heavy1475544;
--listHeaderTitleFont-text-decoration: none;
--listFullButtonFont-style: normal;
--listFullButtonFont-variant: normal;
--listFullButtonFont-weight: normal;
--listFullButtonFont-size: 18px;
--listFullButtonFont-line-height: 1.4em;
--listFullButtonFont-family: avenir-lt-w01_35-light1475496;
--listFullButtonFont-text-decoration: none;
--listHeaderDateTimeFont-style: normal;
--listHeaderDateTimeFont-variant: normal;
--listHeaderDateTimeFont-weight: normal;
--listHeaderDateTimeFont-size: 16px;
--listHeaderDateTimeFont-line-height: 1.4em;
--listHeaderDateTimeFont-family: avenir-lt-w01_85-heavy1475544;
--listHeaderDateTimeFont-text-decoration: none;
--cardDescriptionFont-style: normal;
--cardDescriptionFont-variant: normal;
--cardDescriptionFont-weight: normal;
--cardDescriptionFont-size: 16px;
--cardDescriptionFont-line-height: 1.4em;
--cardDescriptionFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--cardDescriptionFont-text-decoration: none;
--calendarMonthFont-style: normal;
--calendarMonthFont-variant: normal;
--calendarMonthFont-weight: normal;
--calendarMonthFont-size: 18px;
--calendarMonthFont-line-height: 1.4em;
--calendarMonthFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarMonthFont-text-decoration: none;
--calendarWeekdaysFont-style: normal;
--calendarWeekdaysFont-variant: normal;
--calendarWeekdaysFont-weight: normal;
--calendarWeekdaysFont-size: 14px;
--calendarWeekdaysFont-line-height: 1.4em;
--calendarWeekdaysFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarWeekdaysFont-text-decoration: none;
--calendarDayNumberFont-style: normal;
--calendarDayNumberFont-variant: normal;
--calendarDayNumberFont-weight: normal;
--calendarDayNumberFont-size: 24px;
--calendarDayNumberFont-line-height: 1.4em;
--calendarDayNumberFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarDayNumberFont-text-decoration: none;
--calendarCellEventNameFont-style: normal;
--calendarCellEventNameFont-variant: normal;
--calendarCellEventNameFont-weight: normal;
--calendarCellEventNameFont-size: 14px;
--calendarCellEventNameFont-line-height: 1.4em;
--calendarCellEventNameFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--calendarCellEventNameFont-text-decoration: none;
--listHollowButtonFont-style: normal;
--listHollowButtonFont-variant: normal;
--listHollowButtonFont-weight: normal;
--listHollowButtonFont-size: 16px;
--listHollowButtonFont-line-height: 1.4em;
--listHollowButtonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--listHollowButtonFont-text-decoration: none;
--todayHollowButtonFont-style: normal;
--todayHollowButtonFont-variant: normal;
--todayHollowButtonFont-weight: normal;
--todayHollowButtonFont-size: 14px;
--todayHollowButtonFont-line-height: 1.4em;
--todayHollowButtonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--todayHollowButtonFont-text-decoration: none;
--todayButtonFont-style: normal;
--todayButtonFont-variant: normal;
--todayButtonFont-weight: normal;
--todayButtonFont-size: 14px;
--todayButtonFont-line-height: 1.4em;
--todayButtonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--todayButtonFont-text-decoration: none;
--ribbonFont-style: normal;
--ribbonFont-variant: normal;
--ribbonFont-weight: normal;
--ribbonFont-size: 14px;
--ribbonFont-line-height: 1.4em;
--ribbonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--ribbonFont-text-decoration: none;
--listContentTextFont-style: normal;
--listContentTextFont-variant: normal;
--listContentTextFont-weight: normal;
--listContentTextFont-size: 14px;
--listContentTextFont-line-height: 1.4em;
--listContentTextFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--listContentTextFont-text-decoration: none;
--soldOutRibbonFont-style: normal;
--soldOutRibbonFont-variant: normal;
--soldOutRibbonFont-weight: normal;
--soldOutRibbonFont-size: 14px;
--soldOutRibbonFont-line-height: 1.4em;
--soldOutRibbonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--soldOutRibbonFont-text-decoration: none;
--rsvpClosedRibbonFont-style: normal;
--rsvpClosedRibbonFont-variant: normal;
--rsvpClosedRibbonFont-weight: normal;
--rsvpClosedRibbonFont-size: 14px;
--rsvpClosedRibbonFont-line-height: 1.4em;
--rsvpClosedRibbonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--rsvpClosedRibbonFont-text-decoration: none;
--joinWaitlistRibbonFont-style: normal;
--joinWaitlistRibbonFont-variant: normal;
--joinWaitlistRibbonFont-weight: normal;
--joinWaitlistRibbonFont-size: 14px;
--joinWaitlistRibbonFont-line-height: 1.4em;
--joinWaitlistRibbonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--joinWaitlistRibbonFont-text-decoration: none;
--membershipRibbonFont-style: normal;
--membershipRibbonFont-variant: normal;
--membershipRibbonFont-weight: normal;
--membershipRibbonFont-size: 14px;
--membershipRibbonFont-line-height: 1.4em;
--membershipRibbonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--membershipRibbonFont-text-decoration: none;
--recurringRibbonFont-style: normal;
--recurringRibbonFont-variant: normal;
--recurringRibbonFont-weight: normal;
--recurringRibbonFont-size: 14px;
--recurringRibbonFont-line-height: 1.4em;
--recurringRibbonFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--recurringRibbonFont-text-decoration: none;
--hollowButtonsFont-style: normal;
--hollowButtonsFont-variant: normal;
--hollowButtonsFont-weight: normal;
--hollowButtonsFont-size: 16px;
--hollowButtonsFont-line-height: 1.4em;
--hollowButtonsFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--hollowButtonsFont-text-decoration: none;
--fullButtonsFont-style: normal;
--fullButtonsFont-variant: normal;
--fullButtonsFont-weight: normal;
--fullButtonsFont-size: 16px;
--fullButtonsFont-line-height: 1.4em;
--fullButtonsFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--fullButtonsFont-text-decoration: none;
--countdownFont-style: normal;
--countdownFont-variant: normal;
--countdownFont-weight: normal;
--countdownFont-size: 20px;
--countdownFont-line-height: 1.4em;
--countdownFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--countdownFont-text-decoration: none;
--titleFont-style: normal;
--titleFont-variant: normal;
--titleFont-weight: normal;
--titleFont-size: 46px;
--titleFont-line-height: 1.4em;
--titleFont-family: wfont_ab8a4b_20470300465d468db5d18fb8e6407a10,wf_20470300465d468db5d18fb8e,orig_simplon_mono_medium_regular;
--titleFont-text-decoration: none;
--descriptionFont-style: normal;
--descriptionFont-variant: normal;
--descriptionFont-weight: normal;
--descriptionFont-size: 15px;
--descriptionFont-line-height: 1.4em;
--descriptionFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--descriptionFont-text-decoration: none;
--labelsFont-style: normal;
--labelsFont-variant: normal;
--labelsFont-weight: normal;
--labelsFont-size: 16px;
--labelsFont-line-height: 1.4em;
--labelsFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--labelsFont-text-decoration: none;
--compactTextsFont-style: normal;
--compactTextsFont-variant: normal;
--compactTextsFont-weight: normal;
--compactTextsFont-size: 24px;
--compactTextsFont-line-height: 1.4em;
--compactTextsFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--compactTextsFont-text-decoration: none;
--textsFont-style: normal;
--textsFont-variant: normal;
--textsFont-weight: normal;
--textsFont-size: 15px;
--textsFont-line-height: 1.4em;
--textsFont-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--textsFont-text-decoration: none;
--CARD_MAX_WIDTH: 500;
--CARD_MIN_WIDTH: 200;
--listMainTitleVisibility: none;
--listFullDateVisibility: block;
--listLocationVisibility: block;
--listVenueNameVisibility: block;
--listDateVisibility: block;
--listImageVisibility: none;
--listDescriptionVisibility: block;
--listSocialBarVisibility: none;
--listMembersVisibility: none;
--listSocialBarVisibilityFlex: none;
--listShortDateLocationDividerVisibility: initial;
--listShortDateLocationAlignment: center;
--listShortDateLocationDateWidth: 80%;
--listTextAlignment: center;
--listImageAspectRatio: 100;
--listImageIsSquare: 1;
--listAdditionalInfoVisibility: none;
--listAdditionalInfoVisibilityArrow: none;
--isListTextAlignmentLeft: 0;
--isListTextAlignmentRight: 0;
--sideBySideRibbonLeftMargin: auto;
--sideBySideRibbonRightMargin: auto;
--sideBySideImageDirectionEven: row;
--sideBySideImageDirectionOdd: row;
--sideBySideMinimumItemWidth: 320px;
--sideBySideTitleBottomMargin: 0.5em;
--sideBySideFullDateLocationBottomMargin: 30px;
--sideBySideShortDateLocationVisibility: block;
--sideBySideFullDateLocationVisibility: none;
--cardShortDateLocationVisibility: block;
--cardFullDateLocationVisibility: none;
--cardHoveredFullDateLocationVisibility: block;
--listLayoutTitleLocationVisibility: block;
--listLayoutTitleLocationTitleWidth: 90%;
--multiContainImageVisibility: none;
--multiCoverImageVisibility: flex;
--singleContainImageVisibility: none;
--singleCoverImageVisibility: flex;
--calendarEventTitleLineClamp: 2;
--eventSpacing: 20;
--singleButtonFont: var(--fullButtonsFont);
--singleButtonFont-text-decoration: var(--fullButtonsFont-text-decoration);
--singleButtonFont-line-height: var(--fullButtonsFont-line-height);
--singleButtonFont-family: var(--fullButtonsFont-family);
--singleButtonFont-style: var(--fullButtonsFont-style);
--singleButtonFont-size: var(--fullButtonsFont-size);
--singleButtonFont-variant: var(--fullButtonsFont-variant);
--singleButtonFont-weight: var(--fullButtonsFont-weight);
--singleButtonColor: var(--fullButtonsFontColor);
--singleButtonColor-rgb: var(--fullButtonsFontColor-rgb);
--singleButtonColor-opacity: var(--fullButtonsFontColor-opacity);
--singleOnImageButtonColor: var(--onImageFullButtonsFontColor);
--singleOnImageButtonColor-rgb: var(--onImageFullButtonsFontColor-rgb);
--singleOnImageButtonColor-opacity: var(--onImageFullButtonsFontColor-opacity);
--singleButtonBackgroundColor: var(--buttonsBackgroundColor);
--singleButtonBackgroundColor-rgb: var(--buttonsBackgroundColor-rgb);
--singleButtonBackgroundColor-opacity: var(--buttonsBackgroundColor-opacity);
--singleOnImageButtonBackgroundColor: var(--onImageButtonsBackgroundColor);
--singleOnImageButtonBackgroundColor-rgb: var(--onImageButtonsBackgroundColor-rgb);
--singleOnImageButtonBackgroundColor-opacity: var(--onImageButtonsBackgroundColor-opacity);
--singleButtonBorderColor: 0, 0, 0, 0;
--singleButtonBorderColor-rgb: 0, 0, 0;
--singleButtonBorderColor-opacity: 0;
--singleOnImageButtonBorderColor: 0, 0, 0, 0;
--singleOnImageButtonBorderColor-rgb: 0, 0, 0;
--singleOnImageButtonBorderColor-opacity: 0;
--singleButtonBorderWidth: 0;
--singleButtonBorderRadius: var(--buttonsBorderRadius);
--multiButtonFont: var(--listFullButtonFont);
--multiButtonFont-text-decoration: var(--listFullButtonFont-text-decoration);
--multiButtonFont-line-height: var(--listFullButtonFont-line-height);
--multiButtonFont-family: var(--listFullButtonFont-family);
--multiButtonFont-style: var(--listFullButtonFont-style);
--multiButtonFont-size: var(--listFullButtonFont-size);
--multiButtonFont-variant: var(--listFullButtonFont-variant);
--multiButtonFont-weight: var(--listFullButtonFont-weight);
--multiButtonColor: var(--listFullButtonFontColor);
--multiButtonColor-rgb: var(--listFullButtonFontColor-rgb);
--multiButtonColor-opacity: var(--listFullButtonFontColor-opacity);
--multiButtonBackgroundColor: var(--listButtonBackgroundColor);
--multiButtonBackgroundColor-rgb: var(--listButtonBackgroundColor-rgb);
--multiButtonBackgroundColor-opacity: var(--listButtonBackgroundColor-opacity);
--multiButtonBorderColor: 0, 0, 0, 0;
--multiButtonBorderColor-rgb: 0, 0, 0;
--multiButtonBorderColor-opacity: 0;
--multiButtonBorderWidth: 0;
--multiButtonBorderRadius: var(--listButtonBorderRadius);
--listLoadMoreContainerBorderColor: var(--cardBorderColor);
--listLoadMoreContainerBorderColor-rgb: var(--cardBorderColor-rgb);
--listLoadMoreContainerBorderColor-opacity: var(--cardBorderColor-opacity);
--listLoadMoreContainerBorderWidth: var(--cardBorderWidth);
--listLoadMoreMobileFontSize: var(--listButtonFontSizeMobile);
--todayButtonResolvedFont: var(--todayHollowButtonFont);
--todayButtonResolvedFont-text-decoration: var(--todayHollowButtonFont-text-decoration);
--todayButtonResolvedFont-line-height: var(--todayHollowButtonFont-line-height);
--todayButtonResolvedFont-family: var(--todayHollowButtonFont-family);
--todayButtonResolvedFont-style: var(--todayHollowButtonFont-style);
--todayButtonResolvedFont-size: var(--todayHollowButtonFont-size);
--todayButtonResolvedFont-variant: var(--todayHollowButtonFont-variant);
--todayButtonResolvedFont-weight: var(--todayHollowButtonFont-weight);
--todayButtonResolvedColor: var(--todayHollowButtonColor);
--todayButtonResolvedColor-rgb: var(--todayHollowButtonColor-rgb);
--todayButtonResolvedColor-opacity: var(--todayHollowButtonColor-opacity);
--todayButtonResolvedBackgroundColor: 0, 0, 0, 0;
--todayButtonResolvedBackgroundColor-rgb: 0, 0, 0;
--todayButtonResolvedBackgroundColor-opacity: 0;
--todayButtonResolvedBorderColor: var(--todayButtonBorderColor);
--todayButtonResolvedBorderColor-rgb: var(--todayButtonBorderColor-rgb);
--todayButtonResolvedBorderColor-opacity: var(--todayButtonBorderColor-opacity);
--todayButtonResolvedBorderWidth: var(--todayButtonBorderWidth);
--todayButtonResolvedBorderRadius: var(--todayButtonBorderRadius);
  --wix-color-1: 255,255,255;
--wix-color-2: 232,230,230;
--wix-color-3: 199,199,199;
--wix-color-4: 117,117,117;
--wix-color-5: 0,0,0;
--wix-color-6: 186,191,255;
--wix-color-7: 152,160,255;
--wix-color-8: 48,64,255;
--wix-color-9: 32,43,170;
--wix-color-10: 16,21,85;
--wix-color-11: 255,235,255;
--wix-color-12: 255,214,255;
--wix-color-13: 255,173,255;
--wix-color-14: 128,87,128;
--wix-color-15: 64,43,64;
--wix-color-16: 254,242,174;
--wix-color-17: 254,235,133;
--wix-color-18: 253,216,13;
--wix-color-19: 169,144,9;
--wix-color-20: 84,72,4;
--wix-color-21: 254,196,178;
--wix-color-22: 253,166,140;
--wix-color-23: 252,78,26;
--wix-color-24: 168,52,17;
--wix-color-25: 84,26,9;
--wix-color-26: 255,255,255;
--wix-color-27: 0,0,0;
--wix-color-28: 232,230,230;
--wix-color-29: 199,199,199;
--wix-color-30: 117,117,117;
--wix-color-31: 48,64,255;
--wix-color-32: 0,0,0;
--wix-color-33: 199,199,199;
--wix-color-34: 255,255,255;
--wix-color-35: 0,0,0;
--wix-color-36: 0,0,0;
--wix-color-37: 232,230,230;
--wix-color-38: 48,64,255;
--wix-color-39: 48,64,255;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 48,64,255;
--wix-color-43: 48,64,255;
--wix-color-44: 199,199,199;
--wix-color-45: 199,199,199;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 48,64,255;
--wix-color-49: 255,255,255;
--wix-color-50: 48,64,255;
--wix-color-51: 48,64,255;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 199,199,199;
--wix-color-55: 199,199,199;
--wix-font-Title: normal normal normal 40px/1.4em wfont_234f58_4483fabebe464a99a3335837a7f28c98,wf_4483fabebe464a99a3335837a,orig_simplon_mono_medium;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 40px;
--wix-font-Title-line-height: 1.4em;
--wix-font-Title-family: wfont_234f58_4483fabebe464a99a3335837a7f28c98,wf_4483fabebe464a99a3335837a,orig_simplon_mono_medium;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 16px;
--wix-font-Menu-line-height: 1.4em;
--wix-font-Menu-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 28px/1.4em wfont_ab8a4b_20470300465d468db5d18fb8e6407a10,wf_20470300465d468db5d18fb8e,orig_simplon_mono_medium_regular;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 28px;
--wix-font-Page-title-line-height: 1.4em;
--wix-font-Page-title-family: wfont_ab8a4b_20470300465d468db5d18fb8e6407a10,wf_20470300465d468db5d18fb8e,orig_simplon_mono_medium_regular;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 45px/1.2em wfont_234f58_4483fabebe464a99a3335837a7f28c98,wf_4483fabebe464a99a3335837a,orig_simplon_mono_medium;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 45px;
--wix-font-Heading-XL-line-height: 1.2em;
--wix-font-Heading-XL-family: wfont_234f58_4483fabebe464a99a3335837a7f28c98,wf_4483fabebe464a99a3335837a,orig_simplon_mono_medium;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 25px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 25px;
--wix-font-Heading-L-line-height: 1.4em;
--wix-font-Heading-L-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 25px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 25px;
--wix-font-Heading-M-line-height: 1.4em;
--wix-font-Heading-M-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 22px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 22px;
--wix-font-Heading-S-line-height: 1.4em;
--wix-font-Heading-S-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 17px/1.4em wfont_234f58_78c63c9c355f45eab67fd32f7bb20786,wf_78c63c9c355f45eab67fd32f7,orig_basier_circle_regular;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 17px;
--wix-font-Body-L-line-height: 1.4em;
--wix-font-Body-L-family: wfont_234f58_78c63c9c355f45eab67fd32f7bb20786,wf_78c63c9c355f45eab67fd32f7,orig_basier_circle_regular;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 15px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 15px;
--wix-font-Body-M-line-height: 1.4em;
--wix-font-Body-M-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 14px/1.4em wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 14px;
--wix-font-Body-S-line-height: 1.4em;
--wix-font-Body-S-family: wfont_9f6de3_fef7e03344ab444aa80e00eb19c41e51,wf_fef7e03344ab444aa80e00eb1,orig_basier_circle_regular;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 12px;
--wix-font-Body-XS-line-height: 1.4em;
--wix-font-Body-XS-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
}
